.flex{
    display: flex;
}


.upperCase{
    text-transform: uppercase;
}


.item-center{
    align-items: center;
    text-align: center;
}

.justify-center{
    justify-content: center;
}
.bold{
    font-weight: bold;
}